/* HOVER COLOR */
a svg:hover #facebook
{
  fill: #ffffff;
}
a svg:hover #instagram { 
  fill: #ffffff;
}
a svg:hover #linkedin
{
  fill:#ffffff;
}
a svg:hover #twitter
{
  fill:#ffffff;
}
a svg:hover #google
{
  fill:#ffffff;
}
article {  
  margin: 0px;
  display:flex;
  justify-content: center;
  margin-top: 2%;
  text-align: center;
  zoom: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}
a { 
  outline: none; 
  border: 0; 
  text-decoration: none;
}
a svg #facebook,
a svg #instagram,
a svg #linkedin,
a svg #twitter,
a svg #google { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
@media only screen and (max-width: 600px)
{
  svg
  {
    width: 15px;
    height: 20px;
  }
}