#root
{
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  /*text-align: center;*/
}


@media only screen and (max-width: 1030px)
{
  .newsletter
  {
    font-size: 25px;
  }
}
@media only screen and (max-width: 850px)
{
  .newsletter
  {
    font-size: 20px;
  }
}
@media only screen and (max-width: 680px)
{
  .newsletter
  {
    font-size: 15px;
  }
}
